p Hi #{name},
p I am here to let you know that the following dish(es) that you have favorited are featured today in DHall:
ul
    each item in items
        li
            #{val.name} during #{val.period}